.navigation-btn {
    background-color: black;
    width: 180px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    color: white;
    
}

.navigation-btn__column:first-child {
    position: absolute;
    margin-left: 15px;
}

.navigation-btn__singer {
    color: var(--grey);
    font-size: 1px;
    margin-bottom: 5px;
}

.navigation-btn__title {
    font-size: 2px;
}

.navigation-btn__column:last-child {
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-btn__column:last-child i {
    margin-right: 10px;
    font-size: 7px;
}

.navigation-btn__column:last-child .fa-pause {
    font-size: 17px;
}