.song-lists {
    padding: 10px;
}
.song-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.song-list__column{
    display: flex;
    align-items: center;
}

.song-list__column img {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin-right: 10px;

}
   
.song-list__singer {
    color: var(--grey);
    font-size:1px;
    margin-bottom: 5px;
}

.song-list__title {
    font-size: 11px;
}
.song-list__column i {
    font-size: 10px;
    color: var(--grey);
}